<?xml version="1.0" ?>
<launch>
  
  <remap from="/scan" to="/laser/scan" />
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" respawn="true"
       name="laser_filter">
     <rosparam command="load" file="$(find map_laser)/config/filters.yaml" />
     <remap from="/laser_scan" to="/base_scan" />
   </node>
   <node pkg="map_laser" type="filter.py" name="map_laser_filter" respawn="true" output="screen"/>

  <!-- params -->
  <param name="forest_file" value="$(find leg_tracker)/config/trained_leg_detector_res=0.33.yaml" />
  <param name="scan_topic" value="/scan_filtered" />
  <param name="fixed_frame" value="laser_Link"/>
  <param name="scan_frequency" value="10"/>
  <param name="max_detect_distance" value="10.0"/>
  <!-- <param name="confidence_percentile" value="0.7"/> -->
  <!-- run detect_leg_clusters -->
  <node pkg="leg_tracker" type="detect_leg_clusters" name="detect_leg_clusters" output="screen"/>

  <!-- run joint_leg_tracker -->
  <node pkg="leg_tracker" type="joint_leg_tracker.py" name="joint_leg_tracker" output="screen"/>

   <!-- run local_occupancy_grid_mapping -->
  <node pkg="leg_tracker" type="local_occupancy_grid_mapping" name="local_occupancy_grid_mapping" output="screen"/>

  </launch>
